@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #1d4ed8;
  --color-background: #020617;
  --color-surface: #0f172a;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
  --animate-marquee: marquee 30s linear infinite;
  --animate-dash: dash 1s linear infinite;
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes dash {
    to {
      stroke-dashoffset: -12;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-text-main antialiased;
  }
}
